The_Game/Debug/The_Game.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="doc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assembly" type="xs:string" />
        <xs:element name="members">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="member">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="returns" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>